<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editaprojeto.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <a href="/projetos" class="cabecalho-a">Projetos</a>
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
        <div style="height:100px">
          <%=Usuario.nome%>
         <button class="dropdown-btn">
           <div class="bloc-top">
             <img src="/img/avatar1.svg" alt="perfil">
            </div>
            <ul class="bloc-links">
              <li>
                <a href="/perfil">Perfil</a>
              </li>
              <li>
                <a href="/login/sair">Sair</a>
              </li>
            </ul>
         </button>
          </div>
    </header>
    <main class="divMain">
        <div class="parteAlta">
            <h1 class="divBack">Projeto:<h1 class="divProjeto">&nbsp<%=projeto.nome%></h1></h1>
            <a href="/editardadosprojeto/<%=projeto.id%>" class="novoprojeto">Editar projeto</a>
            </div>
            <div class="informacoes">
                <p>Categoria: <%=projeto.categoria%></p>
                <p>Orçamento total para o projeto: R$ <%=projeto.custo%>,00</p>
                <p>Orçamento disponível para o projeto: R$ <%=valortotal%>,00</p>
        </div>
        <hr/>
        <div class="parteAlta1">
            <h2>Adicione fundos para conclusão do projeto:</h2>
            <a href="/adicionarfundos/<%=projeto.id%>" class="novoprojeto">Adicionar fundos</a>
        </div>
        <div class="servico">
            <div class="cards">
                <% Fundos.forEach((fundo) => { %>
    
                
                <div class="project_card">
                    <h5><%=fundo.nome %></h5>
                    <p>
                      Valor adicionado: R$<%=fundo.valor %>,00   
                    </p>
                    <p>
                      Descrição: <%=fundo.descricao %>
                    </p>
                    <div class="project_card_actions">
                      <a href="/fundos/del/<%=fundo.id %>">
                        <img src="/img/deleteicon.png" />Excluir
                      </a>                  
                    </div>
                </div>
                <%}) %>
              </div>
            
        </div>
        <br/>
    <br/>
    <br/>
    <br/>
    </main>
    <script>
      const dropdown = document.querySelector('.dropdown-btn');
      const blocTop = document.querySelector('.bloc-top');
      const allLinks = document.querySelectorAll('.bloc-links li');

      const allDropHeight = `${dropdown.scrollHeight}px`
      const blocTopHeight = `${blocTop.scrollHeight}px`
      dropdown.style.height = blocTopHeight;

      dropdown.addEventListener('click', dropAnim);

      let  toggleIndex = false;

      function dropAnim(){
        toggleIndex ?
        (
          dropdown.style.height = blocTopHeight,
          toggleIndex = false
        )
        :
        (
          dropdown.style.height = allDropHeight,
          toggleIndex = true
        )
      }
    </script>
    <%-include('rodape.ejs')%>