<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <a href="/projetos" class="cabecalho-a">Projetos</a>
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
       
    </header>
    <main>
        <div class="wrapper">
            <div class="left">
                <h2>Perfil:</h2>
                <br/>
                <img src="https://i.imgur.com/cMy8V5j.png" alt="user" width="100">
                <h4>Alex William</h4>
                 <p>UI Developer</p>
            </div>
            <div class="right">
                <form method="post">
                <div class="info">
                    <h3>Informações</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>ID</h4>
                            <input type="text" name="id" value="<%=Usuario.id%>" readonly>
                         </div>
                         <div class="data">
                            <h4>Nome</h4>
                            <input type="text" name="name" value="<%=Usuario.nome%>">
                         </div>
                         <div class="data">
                            <h4>CPF</h4>
                            <input type="text" name="cpf" value="<%=Usuario.cpf%>">
                         </div>
                         <div class="data">
                           <h4>Email</h4>
                           <input type="email" name="email" value="<%=Usuario.email%>">
                      </div>
                    </div>
                </div>
              
              <div class="projects">
                    <h3>Projetos</h3>
                    <div class="projects_data">
                         <div class="data">
                            <h4>Recentes</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                         </div>
                         <input type="submit" value="Salvar dados">
                    </div>
                </div>
            </form>
                
                <br/>
                <br/>
                <div class="social_media">
                    <ul>
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>
              
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </main>
   
    <%-include('rodape.ejs')%>
