<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/logodark.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/projetos.css">
    <title>Capital Cash</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <div><img src="/img/logodark.svg" alt="" class="cabecalhoImg"></div>
        <div class="cabecalho-div-a">
            <a href="/home" class="cabecalho-a">Home</a>
            <a href="/sobre" class="cabecalho-a">Sobre nós</a>
            <a href="/contato" class="cabecalho-a">Contato</a>
        </div>
        
    </header>
    <main class="divMain">
        <div class="parteAlta">
            <h1>Meus projetos:</h1>
            <a href="/novoprojeto" class="novoprojeto">Criar projeto</a>  
        </div>
            <div class="cards">
            <% Projetos.forEach((projeto) => { %>

            
            <div class="project_card">
                <h4><%=projeto.nome %></h4>
                <p>
                  <span>Orçamento:</span> R$<%=projeto.custo %>
                </p>
                <p class="category_text">
                  <span><%=projeto.categoria %></span> 
                </p>
                <div class="project_card_actions">
                  <a href="/editarprojeto">
                    <img src="/img/editicon.png" /> Editar
                  </a>
                  <a href="/projeto/del/<%=projeto.id %>">
                    <img src="/img/deleteicon.png" />Excluir
                  </a>                  
                </div>
            </div>
            <%}) %>
          </div>
    </main>
    <br/>
    <br/>
    <br/>
    <br/>
    <%-include('rodape.ejs')%>